version: 1
plugins:
  - source: github
    repo: daniellmorris/RuleLoom
    ref: main
    path: plugins/rule-loom-core
    name: RuleLoom Core
  - source: github
    repo: daniellmorris/RuleLoom
    ref: main
    path: plugins/rule-loom-plugin-http
    name: HTTP Input & Closures
  - source: github
    repo: daniellmorris/RuleLoom
    ref: main
    path: plugins/rule-loom-plugin-scheduler
    name: Scheduler Input
inputs:
  - type: scheduler
    triggers:
      - flow: toggle-ha-switch
        $meta:
          id: 3yh4s1uh
          x: 422
          "y": 674
        interval: 10s
        runtime:
          targetEntity: switch.third_reality_inc_3rsp019bz_2
  - type: http
    config:
      basePath: /api
    triggers:
      - flow: ha.get-entities
        method: get
        path: /entities
        $meta:
          id: http-trigger-entities
          x: 240
          "y": 240
closures:
  - type: flow
    name: ha.toggle-switch
    description: Toggle a Home Assistant switch via REST API.
    steps:
      - closure: http.request
        assign: lastHaResponse
        parameters:
          method: POST
          baseUrl: http://127.0.0.1:8123
          url: /api/services/${parameters.domain}/${parameters.service}
          headers:
            Authorization: >-
              Bearer
              eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI5YjA2NGIxNzNiMjc0MTk1OGQ2NTAwNDI2Y2Q1NTMzYSIsImlhdCI6MTc2MzY1Mzg1MSwiZXhwIjoyMDc5MDEzODUxfQ.OjNMR4MKTzjYDpdR7-1E5kZez8Wtue6R8sJCjBwDpDo
          body:
            entity_id: ${parameters.entityId}
        $meta:
          id: fsvfj5m9
      - closure: core.log
        parameters:
          level: info
          message: "HA toggle status ${state.lastHaResponse.status}: ${state.lastHaResponse.body}"
        $meta:
          id: co9vony7
    $meta:
      id: z4z5y9eh
      x: 1000
      "y": 1000
      disconnected: []
flows:
  - name: toggle-ha-switch
    steps:
      - closure: ha.toggle-switch
        parameters:
          domain: switch
          service: toggle
          entityId: ${runtime.targetEntity}
        $meta:
          id: z3luwpes
          x: 1582
          "y": 904
    $meta:
      id: kfh1khdo
      x: 1000
      "y": 1000
      disconnected: []
  - name: ha.get-entities
    steps:
      - closure: http.request
        assign: lastHaResponse
        parameters:
          method: GET
          baseUrl: http://127.0.0.1:8123
          url: /api/states
          headers:
            Authorization: >-
              Bearer
              eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI5YjA2NGIxNzNiMjc0MTk1OGQ2NTAwNDI2Y2Q1NTMzYSIsImlhdCI6MTc2MzY1Mzg1MSwiZXhwIjoyMDc5MDEzODUxfQ.OjNMR4MKTzjYDpdR7-1E5kZez8Wtue6R8sJCjBwDpDo
        $meta:
          id: ha-http-entities
      - closure: core.respond
        parameters:
          status: ${state.lastHaResponse.status}
          body: ${state.lastHaResponse.body}
        $meta:
          id: ha-http-respond
    $meta:
      id: ha-flow-entities
      x: 1280
      "y": 640
      disconnected: []
